@import url(./_variables.scss);
h1 {
    color: aqua;
}
.nav-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(94, 94, 94);
}

.select-action{
    width: 160px;
    height: 40px;
    margin: 0 16px;
}